{% extends "blog/base.html" %}

{% block content %}

<a href='{% url "index" %}'>back to index</a>
<br/><a href='{% url "image_resize" meme.id %}'>resize</a>
<h3>strona obrazka:</h3>
<h4>Dodaj tagi do obrazka:</h4>

<img class="article-img obrazek_tagowany" src="{{ meme.image.url }}" width="500">

<br> obecne tagi: ({{ tags_count }})

{% for tag in current_tags %}
<span class="badge badge-info">
    <a href="{% url 'tag_name' tag.name %}" style="color: white;">{{ tag.name }}</a>
    <a href="{% url 'add_chosen_tag' meme.id tag.id 'del'%}" style="color: red;">X</a>
</span>
{% endfor %}


<br> dodaj tag lub wybierz z listy:

<form method="POST">
    <input type="text" name='tag_name'>
    <button type="submit">dodaj</button>
</form>

{% for tag in tags %}
<a class="badge badge-info" href="{% url 'add_chosen_tag' meme.id tag.id 'add' %}">{{ tag.name }}</a>
{% endfor %}

<br><br>
{% endblock content %}